<div class="dashboard">
  <span style="color: white;">Tech Purchase</span>
  <div class="searchbar">
    <div class="icon_containter">
      <img class="icon" src="../assets/search_left.png" alt="Search:">
    </div>
    <input type="text" class="searchbar_text" [(ngModel)]="searchBox" placeholder="Search...">
  </div>
</div>
<br/>
<div class="product_dashboard">
  <div class="product_categories">

    <div class="product_category_lborder" [style.background-color]="option == 0 ? 'rgb(127, 255, 212, 1)' : 'rgb(127, 255, 212, 0.4)'"
      [style.border-bottom-width.px]="option == 0 ? '0' : '1'" (click)="showAll()">All
    </div>

    <div class="product_category_nborder" [style.background-color]="option == 1 ? 'rgb(127, 255, 212, 1)' : 'rgb(127, 255, 212, 0.4)'"
      [style.border-bottom-width.px]="option == 1 ? '0' : '1'" (click)="showPC()">PCs
    </div>

    <div class="product_category_nborder" [style.background-color]="option == 2 ? 'rgb(127, 255, 212, 1)' : 'rgb(127, 255, 212, 0.4)'"
      [style.border-bottom-width.px]="option == 2 ? '0' : '1'" (click)="showPh()">Phones
    </div>

    <div class="product_category_nborder" [style.background-color]="option == 3 ? 'rgb(127, 255, 212, 1)' : 'rgb(127, 255, 212, 0.4)'"
      [style.border-bottom-width.px]="option == 3 ? '0' : '1'" (click)="showTa()">Tablet
    </div>
    <!--<button class="product_category_lborder" (click)="showAll()">All</button>
    <button class="product_category_nborder" (click)="showPC()">PCs</button>
    <button class="product_category_nborder" (click)="showPh()">Phones</button>
    <button class="product_category_nborder" (click)="showTa()">Tablets</button>-->
    <div class="line"></div>
  </div>
  <div class="product_list">

    <div *ngIf="option == 0; else showSection">
      <div class="product_container" (click)="getProductInfo(product)" *ngFor="let product of productList | filter: searchBox">
        <div class="product_image">
          <img [src]="(product.product_image)">
        </div>
        <div>{{ product.name }}</div>
        <div>€{{ product.price }}</div>
      </div>
    </div>

    <ng-template #showSection>
      <div *ngFor="let person of people | filter: searchBox">
        <div *ngIf="person.age == option">
          {{ person.name }}
        </div>
      </div>
    </ng-template>
  </div>
</div>

<section id="#section_2" class="product_detail" *ngIf="productDetail">
  <div class="product_detail__content">
    <div class="product_detail__image__container">
      <img [src]="(currentProduct.product_image)">
    </div>
    <div class="product_detail__text">
      <div class="text__container">
        <h3 class="text__header zsh-text--large">{{ currentProduct.name }}</h3>
        <p class="text__sub_header zsh-text--extramedium">
          <span>Windows 10 en Español Intel Core {{ currentProductDetail.cpu }}</span>
        </p>
      </div>
      <div class="text__body__container">
        <div class="body__container">
          <h4 class="body__text zsh-header--extramedium">Envio: {{ productDetail[0].delivery }} dias</h4>
          <div class="body__text">
            <h4 class="zsh-header--extramedium">Opcion: </h4>
            <div class="body__check_btn__container">
              <div class="body__check_btn" (click)="getCurrentProduct(item)" *ngFor="let item of productDetail">
                <div class="body__check_btn__button">{{ item.id }} Gama Baja</div>
                <p class="body__check_btn__text"><span> - Precio no reembolsable</span></p>
              </div>
            </div>
          </div>
          <div class="body__quantity__container">
            <h4 class="body__text zsh-header--extramedium">Cantidad: </h4>
            <div class="quantity_container">
              <div class="quantity_container__sign minus"><span>－</span></div>
              <input class="quantity_container__input" type="text" name="quantity" value="1" data-min="1" data-max="20">
              <div class="quantity_container__sign plus"><span>+</span></div>
            </div>
          </div>
          <h4 class="body__text zsh-header--extramedium">Precio: <span class="price-tag">€{{ productDetail[0].price }}</span></h4>
          <div class="comprar">Comprar</div>
        </div>
      </div>
    </div>
    <div class="product_detail_info">
      <div class="product_detail_info__title">
        <p>PROPIEDADES</p>
      </div>
      <table>
        <tr>
          <th>Sistema Operativo:</th>
          <td>Windows 10 en Español</td>
        </tr>
        <tr>
          <th>Procesador:</th>
          <td>{{ currentProductDetail.processor }}</td>
        </tr>
        <tr>
          <th>CPU:</th>
          <td>Intel Core {{ currentProductDetail.cpu }}</td>
        </tr>
        <tr>
          <th>Memoria de Disco Duro:</th>
          <td>{{ currentProductDetail.storage }}GB</td>
        </tr>
        <tr>
          <th>Memoria RAM:</th>
          <td>{{ currentProductDetail.ramType }} {{ currentProductDetail.ram }}GB</td>
        </tr>
        <tr>
          <th>Tarjeta Grafica:</th>
          <td>NVIDIA {{ currentProductDetail.graphics }}</td>
        </tr>
        <tr>
          <th>Camara:</th>
          <td>{{ currentProductDetail.camara }}MP</td>
        </tr>
        <tr>
          <th>Bateria:</th>
          <td>{{ currentProductDetail.battery }}mAh</td>
        </tr>
        <tr>
          <th class="table_th_last">Duracion de bateria:</th>
          <td class="table_td_last">{{ currentProductDetail.batteryLife }} horas</td>
        </tr>
      </table>
    </div>
  </div>
</section>

<section class="section_vision">
  <div class="section_vision__content">
    <div class="vision__content__text_container">
      <p class="zsh-text--extralarge">
        <span>
            "Ofrecer productos tecnologicos a precios competitivos,
            con el mayor grado de personalizacion en cada compra."
        </span>
      </p>
    </div>
  </div>
</section>

<!-- <section class="contacto">
  <h1>Contacto</h1>
  <form method="post">
    <div class="wrapper">
      <input type="text" name="name" placeholder="Nombre*" value="" required>
      <input type="email" name="email" placeholder="Email*" value="" required>
      <textarea name="message" placeholder="Mensaje"></textarea>
    </div>
    <button class="submit_button" type="submit" name="submit">Enviar</button>
    <div class="popup">
      <span class="popuptext" id="myPopup">Email enviado correctamente!</span>
    </div>
  </form>
</section> -->

<footer class="footer">
  <section id="myFooter" class="footer__section">
    <div class="footer__content">
      <div class="footer__content__column footer__content__column__newsletter">
        <div class="main_layout_section">
          <h3 class="main_layout_section__title zsh-h--footer">
            <span>Newsletter</span>
          </h3>
        </div>
        <p class="main_layout_section__description zsh-text zsh-text--small zsh-text-hex--light">
          <span>Subscribite para estar informado acerca de la ultimas ofertas y novedades sobre nuestros productos.</span>
        </p>
        <div class="newsletter_form">
          <form id="newsletter_form__subscribe" name="" class="newsletter__form validate z-js__mc" target="_blank">
            <div [ngStyle]="inputContainer()" class="newsletter_input_container">
              <input [ngStyle]="inputElement()" type="email" name="email" class="form-control required email z-js__form-input" [(ngModel)]="email"
                placeholder="Your email address">
              <button type="submit" name="subscribe" class="z-js__mc__button" (click)="subscribeNewsletter()">
                <span class="z-arrow z-arrow--right"></span>
              </button>
            </div>
            <div [ngStyle]="errorMessage()" class="z-js__mc__incorrect-email">
              <span>Incorrect email address</span>
            </div>
            <div [ngStyle]="successMessage()" class="z-js__mc__success-message zsh-text--medium">
              <span>Great! You're now subscribed!</span>
            </div>
          </form>
        </div>
      </div>
      <div class="footer__content_column footer__content__column__sitemap">
        <div class="sitemap_container">
          <div class="sitemap_menu">
            <div class="sitemap_menu__title_container">
              <h3 class="sitemap_menu__title zsh-h--footer">
                <span>Company</span>
              </h3>
            </div>
            <div class="sitemap_menu__list_container" style="height: auto">
              <ul class="sitemap_menu__list">
                <li class="sitemap_menu__list__item">About us</li>
                <li class="sitemap_menu__list__item">Careers</li>
                <li class="sitemap_menu__list__item">Blog</li>
              </ul>
            </div>
          </div>
          <div class="sitemap_menu">
            <div class="sitemap_menu__title_container">
              <h3 class="sitemap_menu__title zsh-h--footer">
                <span>Buying Guides</span>
              </h3>
            </div>
            <div class="sitemap_menu__list_container" style="height: auto">
              <ul class="sitemap_menu__list">
                <li class="sitemap_menu__list__item">Ayuda</li>
                <li class="sitemap_menu__list__item">Terminos de servicio</li>
                <li class="sitemap_menu__list__item">Politica de privacidad</li>
              </ul>
            </div>
          </div>
          <div class="sitemap_menu">
            <div class="sitemap_menu__title_container">
              <h3 class="sitemap_menu__title zsh-h--footer">
                <span>Contacto</span>
              </h3>
            </div>
            <div class="sitemap_menu__list_container" style="height: auto">
              <ul class="sitemap_menu__list">
                <li class="sitemap_menu__list__item">Chatea con nosotros</li>
                <li class="sitemap_menu__list__item">hello@awesome.com</li>
                <li class="sitemap_menu__list__item">Hacer un pedido</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__content__column footer__content__column--payment-list">
        <div class="main_layout_section">
          <h3 class="main_layout_section__title zsh-h--footer">
            <span>Payment Methods</span>
          </h3>
          <p class="main_layout_section__description zsh-text zsh-text--small zsh-text-hex--light">
            <span>Esta pagina web es compatible con los metodos de pago mas populares. Escoge el que mejor te convenga!</span>
          </p>
          <div class="z__payment__badges__list">
            <div class="z__payment__badges__list__item">
              <img src="https://packhelp.com/public/svg/payments_icons/color/mastercard_color.svg">
            </div>
            <div class="z__payment__badges__list__item">
              <img src="https://packhelp.com/public/svg/payments_icons/color/maestro_color.svg">
            </div>
            <div class="z__payment__badges__list__item">
              <img src="https://packhelp.com//public/svg/payments_icons/color/cirrus_color.svg">
            </div>
            <div class="z__payment__badges__list__item z__payment__badges__list__item--visa">
              <img src="https://packhelp.com/public/svg/payments_icons/color/visa_color.svg">
            </div>
            <div class="z__payment__badges__list__item z__payment__badges__list__item--paypal">
              <img src="https://packhelp.com/public/svg/payments_icons/color/paypal_color.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer__section footer__section--bottom">
    <div class="footer__content">
      <div class="footer__content__column">
        <div class="client-related-info">
          <div class="client-info"></div>
          <div class="client-info">
            <img class="img--ssl_lock" src="https://packhelp.com/public/svg/ssl_lock.svg">
            <p class="zsh-text zsh-text--small zsh-text-hex--light">
              <span>SSL 100% Secure Transactions</span>
            </p>
          </div>
          <div class="client-info"></div>
        </div>
      </div>
    </div>
  </section>
</footer>



<!--<a class="nav-link zsh-link zsh-link--nav" href="#section-1">
    Minimalist
  </a>-->