/************ DASHBOARD ************/
.dashboard {
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    background: #7d2535;
    padding: 20px 0px;
    border-radius: 5px;
}

.searchbar {
    display: flex;
    background: rgb(32, 178, 170);
    height: 30px;
    border-radius: 5px;
    padding: 0px 5px;
}

.icon_containter {
    width: 30px;
    /*height: 25px;*/
    padding-right: 2px;
}

.searchbar_text {
    width: 150px;
    min-width: 150px;                       /* Come handy when rescaling */
    /*height: 19px;*/
    border: solid rgb(32, 178, 170);
    padding-left: 5px;
}

.icon {
    width: 100%;
}

/************ END DASHBOARD ************/

/*+++++++++ PRODUCT CATALOGUE +++++++++*/
.product_dashboard {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.product_categories {
    width: 100%;
    justify-content: flex-start;
    display: flex;
}

.product_list {
    /*width: 100%;*/
    height: 350px;
    border: solid black;
    background-color: aquamarine;
    border-width: 0px 1px 1px 1px;
    padding: 20px;
}

.product_categories button, .product_categories div {
    padding: 5px 20px;
    border-style: solid;
    border-color: black;
}

.product_category_nborder, .product_category_lborder {
    cursor: pointer;
    /*background-color: rgb(127, 255, 212, 0.4);*/
    /*opacity: 0.4;*/
}

/*.product_category_nborder:hover, .product_category_lborder:hover {
    background-color: rgb(127, 255, 212);
}

.product_category_nborder:focus, .product_category_lborder:focus {
    background-color: rgb(127, 255, 212);
    border-width: 1px 1px 0px 0px;
}*/

.product_category_nborder {
    border-width: 1px 1px 1px 0px;
}

.product_category_lborder {
    border-width: 1px 1px 1px 1px;
}

.line {
    border-width: 0px 0px 1px 0px;
    width: 100%;
}

.product_container {
    width: 150px;
    text-align: center;
}

.product_container:hover {
    border: 1px solid rgb(43, 223, 163);
    border-radius: 3px;
    cursor: pointer;
}

.product_image img {
    width: 100%;
}

/*+++++++++ PRODUCT CATALOGUE ++++++++++*/


/*========== PRODUCT DETAILS ===========*/
.product_detail__content {
    max-width: 80em;
    padding: 0 1.5625em;
    padding-bottom: 3em;
    padding-top: 2em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #373a3c;
    font-size: 16px;
}

.product_detail__image__container {
    width: 33%;
    min-width: 150px;
    max-width: 320px;
}

.product_detail__image__container img {
    width: 100%;
    border: solid 1px black;
    max-height: 25em;
}

.product_detail__text {
    width: 33%;
    padding: 0em 1.5625em 0em 2em;
    color: #373a3c;
    line-height: 1.5;
    font-size: 16px;
}

.product_detail__text h3, h4 {
    margin: 0px;
}

.text__container {
    margin-bottom: 0.6em;
}

.text__header {
    font-family: "Moon";
}

.text__body__container {
    border-top: 1px solid hsla(0,0%,4%,.1);
}

.body__container {
    margin-top: 1em;
    background-color: #878c9629;
    padding: 0px 5px;
}

.body__text {
    padding: 1em 0em 0.5em 0;
    margin: 0;
}

.body__text h4 {
    padding-bottom: 0.5em;
}

.body__check_btn {
    display: flex;
    justify-content: center;
}

.body__check_btn__button {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    margin: 0;
    
}

.body__check_btn__button:hover {
    /*border-color: aquamarine;*/
    background-color: aquamarine;
    /*color: white;*/
    cursor: pointer;
}

.body__check_btn__text {
    margin: 0;
}

.body__quantity__container {
    display: flex;
    justify-content: space-between
}

.quantity_container {
    display: flex;
    border: 1px solid black;
    border-radius: 3px;
    margin: 1em 0em 0.5em 0;
    height: 30px;
    width: 120px;

    position: relative;
    /* display: inline-block; */
    /* width: 110px; */
    line-height: 30px;
    font-size: 14px;
    overflow: hidden;
}

.quantity_container__input {
    width: 60px;
    text-align: center;
}

.quantity_container__sign {
    text-align: center;
    width: 30px;
}

.minus {
    font-size: 25px;
}

.plus {
    font-size: 25px;
    line-height: 28px;
}

.price-tag {
    color: red;
}

.comprar {
    width: 175px;
    background-color: rgb(43, 223, 163);
    border: 2px solid black;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    margin: auto;
}

.comprar:hover {
    cursor: pointer;
}

.product_detail_info {
    width: 32%;
    background-color: rgb(43, 223, 163);
    border: solid 2px black;
    border-radius: 30px;
    justify-content: center;
}

.product_detail_info__title {
    text-align: center;
}

.product_detail_info__title p {
    margin: 10px 0px 5px 0px;
    font-size: 26px;
    color: white;
    font-family: "Lovelo";
}

table {
    width: 100%;
    height: 88.5%;
}

td, th {
    text-align: left;
    background-color: white;
    padding: 8px;
}

th {
    border-radius: 4px 0px 0px 4px;
}

td {
    border-radius: 0px 4px 4px 0px;
}

.table_th_last {
    border-radius: 4px 0px 0px 25px;
}

.table_td_last {
    border-radius: 0px 4px 25px 0px;
}


.section_vision {
    background-color: aquamarine;
    border-top: 1px solid hsla(0,0%,4%,.1);
}

.section_vision__content {
    max-width: 80em;
    padding: 0 1.5625em;
    padding-bottom: 3em;
    padding-top: 2em;
    margin: 0 auto;
    justify-content: space-between;
    line-height: 1.5;
    color: #373a3c;
    font-size: 16px;
}

.vision__content__text_container{
    width: 90%;
    margin: auto;
    text-align: center;
}

.section_vision__content p {
    margin: 24px 0;
    font-family: "Nickainley-Normal";
}




.contact {

}

.wrapper {
    min-width: 180px;
    max-width: 600px;
    position: relative;
    width: 60%;
    margin: auto;           /* Automatically centers the object */
    text-align: center;
}

.wrapper input, .wrapper textarea {
    padding: 5px 10px;
    width: 100%;
    /* font: normal normal normal 14px/1.4em futura-lt-w01-light, sans-serif; */
    color: #000000;
    background-color: rgba(217, 217, 217, 0.38);
    border: solid 1px gray;
    box-sizing: border-box;
    border-radius: 0;
    z-index: 1;
}

.wrapper input {
    margin-bottom: 12px;
}

.wrapper textarea {
    height: 120px;
    max-width: 100%;
    min-width: 100%;
}

.submit_button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.82);
    color: #ffffff;
    min-width: 150px;
    max-width: calc(100% - 40px);
    margin: 20px auto 30px auto;
    display: block;
    /* font: normal normal normal 16px/1.4em futura-lt-w01-book, sans-serif; */
    padding: 12px;
    z-index: 100;
}



/* FOOTER CONTENT */
.footer {
    background-color: #fff;
    font-size: 16px;

    display: block;
    position: relative;
}


.footer__content {
    max-width: 80em;
    padding: 0 1.5625em;
    padding-bottom: 3em;
    padding-top: 4em;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

    line-height: 1.5;                           /* Spacing between lines of text */
    color: #373a3c;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
}

.footer .footer__content__column__newsletter, .footer .footer__content__column__sitemap {
    padding-bottom: 1.75em;
}

/* Esta tachado, jugar un poco con esto haha */
.footer__content__column {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
} 

.footer__content__column__newsletter {
    -ms-flex: 0 0 17.8125em;
    flex: 0 0 17.8125em;
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 17.8125em; */
}

.sitemap_container {
    display: -ms-flexbox;
    display: flex;
    padding: 0 1.875em;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.sitemap_menu {
    margin: 0 .625em;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.sitemap_menu__title_container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.sitemap_menu__title {
    margin: 0;
    line-height: 1em;
}

.zsh-h--footer, .zsh-h--smaller {
    color: #2b2b2b;
    font-size: 1rem;
    font-weight: 700;       /* Defines the thickness of the characters, 700 = bold */
    line-height: 1.375rem;

    letter-spacing: .4px;
}

.sitemap_menu__list_container {
    overflow: hidden;
}

.sitemap_menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 13px;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.sitemap_menu__list__item {
    margin-bottom: .25em;
}

.main_layout_section__title {
    margin: 0;
    font-size: 1em;
    line-height: 1em;
}

.main_layout_section__description {
    padding-top: 19px;
    padding-bottom: 23px;
    font-size: .75em;
    letter-spacing: .4px;
    margin: 0;
}

.zsh-text-hex--light {
    color: #878c96;
}

.zsh-text--small {
    font-size: .75rem;
    line-height: 1rem;
}

.newsletter_form {
    position: relative;
}

.newsletter_input_container {
    display: flex;
}


.newsletter_form .newsletter_input_container input {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    outline: none;
    color: #2b2b2b;
    font-size: .875em;
    /* border-color: rgba(0,0,0,.15); */
    letter-spacing: .4px;
    line-height: 1.125em;
    padding-left: 1.25em;
    border-radius: 0;
}


.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;  /* Padding of the input box (increase right and check) */
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.newsletter_form .newsletter_input_container button {
    width: 2.8125em;
    height: 2.8125em;
    border: 2px solid;
    border-color: #2b2b2b;
    outline: none;
    background-color: #fff;
    transition: all .3s ease;
    border-radius: 0;
    margin-left: -1px;
    cursor: pointer;
}

.newsletter_form .newsletter_input_container button .z-arrow {
    /* border-color: #0b0b0b; */
    margin-right: 2px;
    pointer-events: none;
    transition: all .4s ease;
}

.z-arrow--right {
    transform: rotate(-45deg);
}
.z-arrow {
    border: solid #000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    border-radius: 1px;
}

/* .newsletter_form .newsletter_input_container button .z-tick {
    content: "";
    display: none;
    width: 9px;
    height: 15px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
} */

.newsletter_form .newsletter_input_container button:hover {
    background-color: aquamarine;
    border-color: aquamarine;
}

.newsletter_form .newsletter_input_container button:hover > .z-arrow {
    border: solid #fff;
    border-width: 0 2px 2px 0;
}



.z-js__mc__incorrect-email, .z-js__mc__success-message {
    /* opacity: 0; */
    transition: opacity .2s ease-in;
    /* visibility: hidden; */
}

.z-js__mc__incorrect-email {
    padding: .4375rem 0 0;
    font-size: .6875rem;
    font-weight: 700;
    letter-spacing: .6px;
    color: #c42e2e;
    text-align: left;
    position: absolute;
    left: 0;
}

.z-js__mc--success .z-js__mc__success-message {
    visibility: visible;
    opacity: 1;
    color: #489fdf;
}

.zsh-text--medium {
    letter-spacing: .6px;
    font-size: .875rem;
    line-height: 1.0625rem;
}

.zsh-text--extramedium {
    letter-spacing: .7px;
    font-size: 1rem;
    line-height: 1.25rem;
}

.zsh-header--extramedium {
    letter-spacing: .7px;
    font-size: 1.25rem;
    line-height: 1.25rem;
}

.zsh-text--large {
    letter-spacing: 0.9px;
    font-size: 2rem;
    /* line-height: 1.0625rem; */
}

.zsh-text--extralarge {
    letter-spacing: 1.2px;
    font-size: 3rem;
    /* line-height: 1.0625rem; */
}


.footer .footer__content__column--payment-list {
    margin-top: 0;
}

.footer__content__column--payment-list {
    -ms-flex: 0 0 18.75em;
    flex: 0 0 18.75em;
}

.z__payment__badges__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.z__payment__badges__list div:first-of-type {
    margin: 0;
    margin-right: .5em;
}

.z__payment__badges__list__item {
    margin: 0 .5em;
}

.z__payment__badges__list__item img {
    width: 2em;
    max-height: 1.5em;
}

.z__payment__badges__list__item--visa img {
    height: 1em;
    width: 3.9375em;
}

.z__payment__badges__list__item--paypal img {
    width: 3.4375em;
}


.footer__section--bottom, .footer__section {
    border-top: 1px solid hsla(0,0%,4%,.1);
}

.footer__section--bottom .footer__content {
    padding-top: 1.2875em;
    padding-bottom: 1.2875em;
}

.footer__section--bottom .footer__content__column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.client-related-info {
    display: -ms-flexbox;
    display: flex;
}

.client-related-info .client-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.client-related-info .client-info .img--ssl_lock {
    margin-left: 2.75em;
    margin-right: .5625em;
    width: .75em;
}






/* @media screen and (max-width: 1024px) {
    table {
        height: 93%;
    }
} */


@media screen and (max-width: 1024px) {
    .footer__section {
        border-top: 1px solid hsla(0,0%,4%,.1);
    }
    
    .footer__content {
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .footer__content__column__newsletter {
        -ms-flex-order: 2;
        order: 2;
        margin-right: 4.375em;
    }

    .footer__content__column__sitemap {
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        -ms-flex-order: 1;
        order: 1;
        padding-bottom: 2.5em;
    }

    .footer__content__column--payment-list {
        order:3;
    }

    .sitemap_container {
        padding: 0;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .sitemap_container .sitemap_menu {
        padding-right: 4.6875em;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .footer__section--bottom .footer__content__column .client-related-info .client-info {
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        margin-bottom: 1em;
    }

    .footer__section--bottom .footer__content__column .client-related-info .client-info img {
        margin-left: 0;
    }

    .footer__section--bottom .footer__content__column .client-related-info .client-info img.img--ssl_lock {
        margin-right: .875em;
    }
}

@font-face {
    font-family: "Nickainley-Normal";
    src: url(../assets/fonts/Nickainley-Normal.otf) format("truetype");
}

@font-face {
    font-family: "Lovelo";
    src: url(../assets/fonts/Lovelo_Black.otf) format("truetype");
}

@font-face {
    font-family: "Moon";
    src: url(../assets/fonts/Moon-Bold.otf) format("truetype");
}